<?xml version="1.0" encoding="utf-8"?>
<widget id="com.realtime.ortcphonegap" version="1.0.0" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>ORTCPhoneGap</name>
  <description>
  </description>
  <access origin="*" />
  <preference name="phonegap-version" value="3.3.0" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="com.ququplay.websocket.websocket" />
</widget>