<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <!-- Post Authentication -->
    <add key="PostAuthenticationServer" value="http://ortc-developers.realtime.co/server/2.1" />
    <add key="PostAuthenticationIsCluster" value="true" />
    <add key="PostAuthenticationToken" value="AUTHENTICATION_TOKEN" />
    <add key="PostAuthenticationTokenIsPrivate" value="false" />
    <add key="PostAuthenticationApplicationKey" value="APPLICATION_KEY" />
    <add key="PostAuthenticationPrivateKey" value="PRIVATE_KEY" />
    <add key="PostAuthenticationTtl" value="1400" />
    <add key="PostAuthenticationChannels" value="myChannel
myChannel:subchannel" />
    <add key="PostAuthenticationPermissions" value="wp
rw" />

    <!-- Client -->    
    <add key="ClientServer" value="http://ortc-developers.realtime.co/server/2.1" />
    <add key="ClientIsCluster" value="true" />
    <add key="ClientToken" value="AUTHENTICATION_TOKEN" />
    <add key="ClientApplicationKey" value="APPLICATION_KEY" />
    <add key="ClientConnectionMetadata" value="UserMetadata" />
    <add key="ClientChannel" value="myChannel" />
    <add key="ClientMessage" value="Message from client 1" />
  </appSettings>
</configuration>