<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- Post Authentication -->
    <add key="PostAuthenticationServer" value="http://ortc-developers.realtime.co/server/2.1" />
    <add key="PostAuthenticationIsCluster" value="true" />
    <add key="PostAuthenticationToken" value="AUTHENTICATION_TOKEN" />
    <add key="PostAuthenticationTokenIsPrivate" value="false" />
    <add key="PostAuthenticationApplicationKey" value="YOUR_APPLICATION_KEY" />
    <add key="PostAuthenticationPrivateKey" value="YOUR_APPLICATION_PRIVATE_KEY" />
    <add key="PostAuthenticationTtl" value="1400" />
    <add key="PostAuthenticationChannels" value="MyChannel" />
    <add key="PostAuthenticationPermissions" value="w" />

    <!-- Client -->
    <add key="ClientServer" value="http://ortc-developers.realtime.co/server/2.1" />
    <add key="ClientIsCluster" value="true" />
    <add key="ClientToken" value="AUTHENTICATION_TOKEN" />
    <add key="ClientApplicationKey" value="YOUR_APPLICATION_KEY" />
    <add key="ClientConnectionMetadata" value="UserConnectionMetadata" />
    <add key="ClientChannel" value="MyChannel" />
    <add key="ClientMessage" value="Message from Silverlight App" />
  </appSettings>
</configuration>